.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  max-width: 800px;
  margin: 75px auto;
  padding: 75px;
  background-color:rgb(105, 104, 104);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 30px;

}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.formGroup textarea {
  height: 120px;
  resize: none;
}

.formActions {
  display: flex;
  justify-content: space-between;
}

.formActions button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.formActions .guardar {
  background-color: #4caf50;
  color: white;
}

.formActions .limpiar {
  background-color: #f44336;
  color: white;
}

.error {
  border-color: red;
}
