.container {
  padding: 16px;
  margin: 16px;
  text-align: center;
  flex: 1 0 18%; /* Ajusta el tamaño para que quepan 5 por fila */
  box-sizing: border-box;
  border: 1px solid #030303;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(170, 169, 169);
  position: relative;
}

.capa {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.actions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  visibility: hidden;
  
}

.container:hover .actions {
  visibility: visible;
  
}

.actions img {
  cursor: pointer;
  width: 25px; 
  height: 25px;
  visibility: visible;
}

.actions .delete {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.actions .edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
