.Pie{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    background-color:rgb(127, 127, 127);;
}

a{text-decoration: none;}

.logoContainer {
    width: 150px; 
    height: 150px; 
    position: relative;
    overflow: hidden; 
  }

  
.Pie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5); 
    transform-origin: center; 
}

.Pie h2 {
    font-weight: 500;
    font-size: 20px;
    color: black;
}