.capa {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain; /* Asegura que la imagen cubra el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-image: url('/public/img/guitarra.png'); 
    background-color: black;
  }
  
  .gradient {
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
