.link {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em 1em; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #1d1c1c;
}


@media (max-width: 1024px) {
  .link {
    font-size: 1.2em; 
    padding: 0.4em 0.8em; 
  }
}

@media (max-width: 768px) {
  .link {
    font-size: 1em; 
    padding: 0.3em 0.6em; 
  }
}

@media (max-width: 480px) {
  .link {
    font-size: 0.8em; 
    padding: 0.2em 0.4em; 
  }
}
